.container{
    height:500px;
    width:300px;
    margin:0 auto;
    
  
        
}
.line-one{
    display:flex;
    justify-content:center;
    align-items: center; }
/* / */
*{
    text-align:center;
    
}
.line-two{
    display:flex;
    justify-content:center;

}
.btn-container{
    height:100px;
    width:500px;
    border-radius: 20%;
    border:10px solid black;
    margin:1rem;

    
}
.red{
    background-color: red;}

.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.flash{
    background-color: aliceblue;
}